{% extends '_base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block nav %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}<div class="container">
    {% if faculty %}
    <h3>Courses You're Teaching</h3>
    <div class="row">
        {% for course in courses_teaching %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'course.view' course.id %}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.code }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if student %}
    <h3>Your Enrolled Courses:</h3>
    <div class="card-deck">
        {% for course in enrolled_courses %}
        <div class="card mb-4">
            <a href="{% url 'course.view' course.id %}" class="card-link">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">Code: {{ course.code }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}