<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body>
   
    
    <div style="font-size: 18px; width:90%; max-width: 600px; margin: 5px auto 35px auto;">
        <div style="margin-bottom: 10px;">Hey there,</div>
        <div> <h2>Reset Password</h2></div>
        <div style="margin-top: 25px; text-align:center;">
            <a href="{{ reset_url }}"=style="background:
                #009688; text-transform: uppercase; border-radius:=3px; padding: 5px 14px; color: white; border: 1px
                solid #009688; font-size:=17px; font-weight: bold; text-decoration: none; ">Reset Password</a>
            </div>

            <div style=" font-size:13px; margin-top: 45px; margin-bottom: 30px;">
                If you did 
                not make this request, you should report the incident to staffs. We would 
                also recommend to enable Two-Factor Authentication for your 
                account to enhance security.
        </div>
</body>

</html>